.section_threee {
  position: relative;
  top: -200px;
  background-color: #121330;
  padding-bottom: 20px;
  padding-top: 10px;

  .section_three_container {
    position: relative;
  }
  .section_three_all_content {
    position: absolute;
    padding: 150px 0;
    width: 100%;
    height: 1500px;
    z-index: -2;
  }
  // PAGE MARKER two $$$$$$$$$
  .page_marker_two {
    position: relative;
    height: 90px;
    padding-bottom: 120px;
    .page_marker_container {
      position: relative;
      margin-left: 30px;
      max-width: 1689px;
      margin: 0 auto;
      padding-left: 30px;
    }
    .textNline {
      position: relative;
      margin-left: 30px;
      display: flex;
      .line {
        margin-top: 12px;
        margin-right: 20px;
        border-radius: 20px;
        width: 220px;
        height: 0px;
        border: 1px solid white;
      }
      h4 {
        color: white;
        font-size: 20px;
      }
    }
    span {
      color: white;
      font-size: 50px;
    }
  }
  // SECTION THREE CONTENT ---------
  .section_three_content > * {
    flex: 0 1 26%;
  }
  .section_three_content {
    width: 95%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
    .arrow_container {
      color: black;
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 42%;

      span {
        font-size: 70px;
        margin-top: 25px;
        opacity: 0;
        cursor: pointer;
        transition: all 0.5s;
      }
      &:hover {
        span {
          transition: all 0.6s;
          opacity: 0.7;
        }
      }
    }

    .project_container {
      position: relative;
      margin: 10px 15px 30px 15px;
      cursor: pointer;
      min-width: 291px;
      &:hover {
        top: -10px;
      }
      span {
        display: flex;
        justify-content: space-around;
        p {
          margin-top: 6px;
        }
        img {
          width: 25px;
          height: 25px;
        }
      }
      .project_main_container {
        position: relative;
        border: 3px solid rgb(199, 197, 197);
      }
      .tech_icons {
        padding: 15px 0;
        top: 15px;
        display: flex;
        justify-content: space-evenly;
        i {
          color: rgb(128, 128, 128);
          font-size: 30px;
          cursor: pointer;
          &:hover {
            color: #00ffc2;
          }
        }

        img {
          width: 30px;
          height: 30px;
        }
      }
      h4 {
        margin: 0px 10px;
        margin-top: 10px;
        font-size: 15px;

        color: white;
      }
      p {
        font-size: 15px;
        margin-bottom: 15px;
        font-weight: 400;
        color: #00ffc2;
        text-align: center;
      }
    }
    img {
      width: 100%;
    }
  }
}
