.text_animation_box {
  display: flex !important;
  flex-direction: row !important;
  width: 25%;
  padding-top: 93px;
  .typing {
    position: relative;
    margin-left: 10px;
    font-size: 40px;
  }
}
@media only screen and (max-width: 749px) {
  .text_animation_box {
    display: none !important;
  }
}
@media only screen and (max-width: 1005px) {
  .text_animation_box {
    width: 50%;
  }
}
