.text_animation_box {
  display: flex !important;
  flex-direction: row !important;
  width: 25%;
  padding-top: 93px;
  .typing {
    position: relative;
    margin-left: 10px;
    font-size: 40px;
    color: rgb(196, 17, 196) !important;
    // color: white !important;
  }
  //   .typing::before {
  //     content: "";
  //     position: absolute;
  //     // right: -5px;
  //     width: 1px;
  //     height: 90%;
  //     border-right: 2px solid white;
  //     animation: blink 0.7s infinite ease;
  //   }
  //   @keyframes blink {
  //     0% {
  //       opacity: 0;
  //     }
  //     100% {
  //       opacity: 1;
  //     }
  //   }
}
@media only screen and (max-width: 749px) {
  .text_animation_box {
    display: none !important;
  }
}
@media only screen and (max-width: 1005px) {
  .text_animation_box {
    width: 50%;
  }
}
