// VARAIBLES -------------
$main-font: "menlo";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $main-font;
}
body {
  height: 3100px;
}
// NAVIGATION --------------------
.section_navigation {
  position: relative;
  width: 100%;
  height: 70px;
  // background-color: #3d4b62;
  z-index: 1;
  font-size: 15px;
  .navigation_wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
    .logo_container {
      // border: 2px solid black;
      margin: 15px;
      margin-left: 30px;
      .logo {
        // width: 50px;
        height: 100%;
      }
    }
    .nav {
      // padding: 10px 15px 0px 0px;
      height: 100%;
      margin-right: 20px;
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;
        height: 100%;
        padding-right: 20px;
        li {
          margin-left: 40px;
          list-style-type: none;
          align-items: center;
          &:last-child {
            border: 2px solid white;
            padding: 8px 20px;
          }
          a {
            // font-family: roboto;
            font-weight: 0;
            text-decoration: none;
            color: white;
            align-items: center;
            &:last-child {
            }
          }
        }
      }
    }
  }
}
// SECTION ONE -------------------
.section_one_wrapper {
  color: white;
  display: flex;
  // border: 2px solid red;
  .section_one_content {
    // border: 2px solid green;
    max-width: 1140px;
    min-width: 1084px;
    padding: 175px 0px;
    width: 80%;
    height: 585px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-around;
    .text_animation_box {
      margin-left: 30px;
      position: relative;
      top: -10px;
      // border: 1px solid red;
      display: flex;
      flex-direction: column;
      justify-content: center;
      img {
        position: absolute;
        left: -70px;
        top: 1px;
      }
      h1 {
        position: relative;
        font-size: 40px;
        z-index: 2;
      }
    }
    h3 {
      span {
        font-size: 20px;
        font-weight: 40;
      }
    }
    h1 {
      font-size: 48px;
      font-weight: 400;
    }
    h2 {
      font-size: 45px;
      font-weight: 100;
    }
    span {
      color: #00ffc2;
    }
  }
  // SCROLL ELEMENTS ----------------
  .scroll_box {
    position: absolute;
    // border: 2px solid white;
    height: 600px;
    text-align: center;
    vertical-align: middle;
    .scroll_box_two {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // Animate this for arrow effect
      height: 65px;
      top: 42%;
      // border: 2px solid pink;
    }
    span {
      vertical-align: middle;
      margin-right: 0px;
      transform: rotate(-90deg);
    }
    .scroller {
      transform: rotate(-90deg);
    }
  }
}
.section_one {
  top: -100px;
  position: relative;
  padding: 150px 0;
  width: 100%;
  height: 840px;
  background-color: #121330;
  // transform: skewY(1deg);
  // z-index: -2;
}
// SECTION TWO ----------------------------------
.section_two {
  position: relative;
  top: -100px;
  // border: 4px solid red;
  // background-color: red;
  .section_two_all_content {
    // border: 2px solid red;
    max-width: 1689px;
    margin: 0 auto;
    .atom_image {
      // border: 1px solid red;
      position: absolute;
      z-index: -1;
      right: 0;
      overflow: hidden;
      img {
        position: relative;
        top: -130px;
        left: 80%;
        // width: 300px;
        // height: 400px;
      }
    }
    // PAGE MARKER  $$$$$$$$$$$$$$$$$$$$$----
    .page_marker {
      position: relative;
      top: 20px;
      // border: 2px solid green;
      margin-left: 20px;
      .textNline {
        position: relative;

        margin-left: 30px;
        display: flex;
        // border: 2px solid blue;
        .line {
          margin-top: 12px;
          margin-right: 20px;
          border-radius: 20px;
          width: 220px;
          height: 0px;
          border: 2px solid black;
        }
        h4 {
          font-size: 25px;
        }
      }
      span {
        font-size: 60px;
      }
    }

    .section_two_profile_text {
      width: 80%;
      height: 750px;
      margin: 70px auto;
      max-width: 1140px;
      // border: 2px solid black;
      display: flex;
      justify-content: center;
      // PAGE MARKER CONTAINER $$$$$$$

      // PROFILE CONTAINER $$$$$$
      .profile_container {
        // border: 2px solid red;
        width: 440px;
        height: 593px;
        margin-right: 30px;
        img {
          // margin-top: 20px;
          height: 100%;
          width: 100%;
        }
      }
    }
    // TEXT CONTAINER $$$$$$$
    .text_two_container {
      font-size: 18px;
      font-weight: bold;
      width: 45%;
      // margin-right: 130px;
      // margin-top: 8%;
      // border: 2px solid red;
      .text_two_box {
        .tech_container_one,
        .tech_container_two {
          // border: 2px solid red;
          display: flex;
          justify-content: space-between;
          // margin: 10px 0px;
          margin-top: 20px;
          span {
            display: flex;
            flex-direction: column;
          }
          img {
            width: 50px;
            height: 50px;
            margin: 0 auto;
          }
          p {
            text-align: center;
            font-size: 20px;
          }
        }
        .tech_container_two {
          margin-bottom: 10px;
        }

        .tech_container_three {
          display: flex;
          margin: 15px 0;
          justify-content: center;
          span {
            display: flex;
            flex-direction: column;
          }
          img {
            width: 50px;
            height: 50px;
            margin: 0 auto;
          }
        }

        .text_three_container {
          p {
            text-align: center;
          }
          .containH4 {
            display: flex;
            justify-content: center;
            // margin-right: 100px;
            margin-top: 10px;
          }
          h4 {
            color: orange;
            margin-left: 15px;
            // margin: 0 35%;
            // margin-top: 10px;
          }
        }
      }
    }
  }
}

// SECTION THREE -----------

.section_threee {
  position: relative;
  top: -200px;
  background-color: #121330;
  padding-bottom: 20px;
  padding-top: 10px;
  // border: 2px solid red;

  .section_three_container {
    position: relative;
    // border: 3px solid green;
    // margin-top: 20px;
    // max-width: 1300px;
  }
  .section_three_all_content {
    // top: -165px;
    // max-width: 2000px;
    position: absolute;
    padding: 150px 0;
    width: 100%;
    height: 1500px;

    // transform: skewY(2deg);
    z-index: -2;
  }
  // PAGE MARKER two $$$$$$$$$
  .page_marker_two {
    // border: 3px solid green;
    position: relative;
    // top: 20px;
    height: 90px;
    padding-bottom: 120px;

    .page_marker_container {
      position: relative;
      // top: -30px;
      margin-left: 30px;
      // border: 3px solid red;
      max-width: 1689px;
      margin: 0 auto;
      padding-left: 30px;
    }
    .textNline {
      position: relative;
      margin-left: 30px;
      display: flex;
      .line {
        margin-top: 12px;
        margin-right: 20px;
        border-radius: 20px;
        width: 220px;
        height: 0px;
        border: 2px solid white;
      }
      h4 {
        color: white;
        font-size: 25px;
      }
    }
    span {
      color: white;
      font-size: 60px;
    }
  }
  // SECTION THREE CONTENT ---------
  .section_three_content {
    width: 95%;
    // height: 700px;
    max-width: 1140px;
    margin: 0px auto;
    // border: 2px solid red;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding: 0 60px;
    // padding: ;

    .project_container {
      margin: 10px 15px 30px 15px;
      // border: 2px solid green;
      span {
        display: flex;
        justify-content: space-around;
        // border: 2px solid pink;
        p {
          margin-top: 6px;
        }
        img {
          width: 25px;
          height: 25px;
        }
      }
      // border: 3px solid red;
      .project_main_container {
        border: 3px solid rgb(199, 197, 197);
        height: 100%;
      }
      .tech_icons {
        position: relative;
        top: 15px;
        display: flex;
        justify-content: space-evenly;
        // border: 2px solid pink;
        // padding: 0px -10px;
        // height: 120px;
        // transform: scale(0.6);
        i {
          color: rgb(128, 128, 128);
          // position: relative;
          // z-index: 2;
          // width: 30px;
          // height: 30px;
          font-size: 30px;
          cursor: pointer;
          &:hover {
            color: #00ffc2;
          }
        }

        img {
          // margin: 0px 20px;

          width: 30px;
          height: 30px;
          // border: 2px solid green;
        }
      }
      h4 {
        margin: 0px 10px;
        margin-top: 10px;
        font-size: 15px;

        color: white;
      }
      p {
        font-size: 15px;
        margin-bottom: 15px;
        font-weight: 400;
        color: #00ffc2;
        text-align: center;
      }
    }
    img {
      width: 100%;
    }
  }
}
// SECTION FOUR -----------------------
.section_four {
  top: -200px;
  position: relative;
  // padding: 150px 0;
  width: 100%;
  height: 850px;
  background-color: black;
  // transform: skewY(2deg);
  // z-index: -3;
}
// PAGE MARKER THREE ------------
.page_marker_three {
  // border: 3px solid green;
  position: relative;
  // top: 20px;
  height: 90px;
  padding-bottom: 50px;

  .page_marker_container {
    position: relative;
    top: 20px;
    margin-left: 30px;
    // border: 3px solid red;
    max-width: 1689px;
    margin: 0 auto;
    padding-left: 30px;
  }
  .textNline {
    position: relative;
    margin-left: 30px;
    display: flex;
    .line {
      margin-top: 12px;
      margin-right: 20px;
      border-radius: 20px;
      width: 220px;
      height: 0px;
      border: 2px solid white;
    }
    h4 {
      color: white;
      font-size: 25px;
    }
  }
  span {
    color: white;
    font-size: 60px;
  }
}
// SECTION FOUR CONTAINER $$$$$$
.section_four_container {
  position: absolute;
  width: 100%;
  height: 600px;
  margin-top: 29px;
  // border: 2px solid red;

  margin: 0 auto !important;
  .emailLink {
    margin: 0 auto;
    width: 60%;
    // border: 2px solid green;
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 0;
    max-width: 1015px;

    h2 {
      font-size: 35px;
      margin-top: 8px;
    }
  }
  .section_four_content {
    width: 60%;
    height: 100%;
    // border: 2px solid red;
    margin: 0 auto;
    // padding: 100px;
    max-width: 809px;
    padding: 0px 100px 0px 100px;
    margin-top: 50px;
    // border: 3px solid red;
    color: white;

    .form_container {
      // border: 2px solid white;
      width: 100%;
      margin: 0 auto;
      height: 100%;
      color: white;
      form {
        margin: 0 auto;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;

        button {
          background-color: #00ffc2;
          padding: 10px 30px;
          margin: 0 auto;
        }
        input,
        textarea {
          margin-bottom: 0px;
          width: 100%;
          color: #00ffc2;
          font-size: 30px;
        }
        input {
          border: 0;
          outline: 0;
          background: transparent;
          border-bottom: 3px solid #00ffc2;
          height: 50px;
        }
        textarea {
          background: transparent;
          border: 3px solid #00ffc2;
          // margin-top: 25px;
          margin: 25px 0;
          height: 200px;
          padding-left: 8px;
        }
        textarea::placeholder,
        input::placeholder {
          color: #00ffc2;
          font-size: 25px;
          position: relative;
        }
        input::placeholder {
          top: 10px;
        }
      }
    }
  }
}
