// IMPORTS ------------------------------------------------------------------------
@import "./navigation";
@import "./section_one";
@import "./section_two";
@import "./section_three";
@import "./section_four";

// BODY AND MAIN ELEMENTS ------------------------------------------------------------------------
$main-font: "menlo";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $main-font;
}
body {
  height: 3100px;
}

// RESPONSIVE MEDIA QUERIES FOR ALL SECTIONS ------------------
@media only screen and (min-width: 1720px) {
  .atom_image {
    height: 120%;
    top: 0px;
    padding-top: 80px;
    img {
      left: 61% !important;
    }
  }
}
@media only screen and (max-width: 1180px) {
  .scroll_box {
    display: none;
  }
  .section_two {
    .section_two_all_content {
      .atom_image {
        img {
          position: relative;
          left: 84%;
        }
      }
      // PAGE MARKER  $$$$$$$$$$$$$$$$$$$$$----
      .page_marker {
        .textNline {
          .line {
          }
          h4 {
          }
        }
        span {
        }
      }
      .section_two_profile_text {
        // PAGE MARKER CONTAINER $$$$$$$
        height: 600px;
        min-width: 719px;
        // PROFILE CONTAINER $$$$$$
        .profile_container {
          width: 310px;
          height: 453px;

          img {
          }
        }
      }
      // TEXT CONTAINER $$$$$$$
      .text_two_container {
        font-size: 14px;

        span {
          p {
            font-size: 13px !important;
          }
        }

        .text_two_box {
          .web_dev {
            hr {
            }
          }
          .web_dev3 {
            hr {
            }
          }
          .web_dev2 {
            hr {
            }
          }
          .react {
          }
          .btn_cv {
            button {
              display: none;
              &:hover {
              }
            }
          }
          .tech_container_one,
          .tech_container_two,
          .tech_container_three {
            margin-top: 5px;
          }
          .tech_container_one,
          .tech_container_two {
            span {
            }
            img {
            }
            p {
            }
          }
          .tech_container_one {
          }
          .tech_container_two {
          }

          .tech_container_three {
            span {
            }
            img {
            }
          }

          .text_three_container {
            p {
            }
            .containH4 {
            }
            h4 {
            }
          }
        }
      }
    }
  }
  // SECTION FOUR -----------------
  .section_four_content {
    padding: 0px !important;
    h1 {
      font-size: 15px;
      span {
        font-size: 15px;
      }
    }
  }
}
@media only screen and (max-width: 853px) {
  .atom_image {
    img {
      left: 87% !important;
    }
  }
}
@media only screen and (max-width: 749px) {
  .nav {
    display: none;
  }
  .section_one {
    height: 600px;
  }
  .section_one_wrapper {
    // border: 2px solid yellow;
    height: 100%;
    overflow: visible;
    img {
      display: none;
    }
    .section_one_content {
      padding-top: 70px !important;
      .text_animation_box {
        display: none;

        h1 {
          margin-top: 200px;
        }
      }
    }
  }
  // SECTION TWO --------------------
  .section_two {
    width: 100%;
    .section_two_all_content {
      position: relative;
      .page_marker {
        margin: 0;
        margin-left: 10px;
        span {
          font-size: 30px;
        }
        .textNline {
          h4 {
            font-size: 15px;
          }
        }
      }
      .atom_image {
        img {
          display: none;
        }
      }
      .section_two_profile_text {
        flex-direction: column;
        height: auto;
        width: 90% !important;
        margin: 0 auto;
        min-width: 0;
        padding-top: 10px;
        .profile_container {
          width: 90%;
          margin: 0 auto;
          height: 10%;
          padding: 10px 80px;
          img {
          }
        }
        .profile_container {
        }
        .text_two_container {
          width: 100%;
        }
      }
    }
  }
  // SECTION THREE ---------------------
  .section_threee {
    top: -100px;
    .section_three_container {
      .section_three_content > * {
        flex: 0 1 45% !important;
        justify-content: space-around;
      }
      .section_three_content {
        .project_container {
          margin: 10px 5px 15px 5px;
          min-width: 30px;
          .project_main_container {
            h4 {
              font-size: 12px;
            }
            .tech_icons {
              padding: 7px 0;
              i {
                font-size: 20px;
              }
            }
          }
          span {
            p {
              font-size: 12px;
            }
            img {
              width: 17px;
              height: 17px;
            }
          }
        }
      }
      .page_marker_two {
        padding-bottom: 0px;
        height: 50px;
        .page_marker_container {
          padding-left: 0;
          margin-left: 10px;
          h4 {
            font-size: 15px;
          }
          span {
            font-size: 30px;
          }
        }
      }
    }
  }
  // SECTION FOUR --------------------
  .section_four {
    top: -120px;
    height: 690px;
    .page_marker_three {
      margin-left: 10px;
      .page_marker_container {
        h4 {
          font-size: 15px;
        }
        span {
          font-size: 30px;
        }
      }
      .section_four_container {
        .section_four_content {
          height: 80%;
          min-width: 300px;
          .form_container {
            height: 10% !important;
            form {
              textarea {
                height: 100px;
              }
              input::placeholder,
              textarea::placeholder {
                font-size: 14px;
              }
            }
          }
        }
        .emailLink {
          justify-content: center;
          flex-direction: column;
          align-items: center;
          height: auto;
          img {
            width: 100%;
          }
          p {
            text-align: center;
            margin-right: 0;
            font-size: 15px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  // PAGE MARKERS --------------------------
  .page_marker_container {
    padding-left: 0 !important;
    h4 {
      font-size: 15px !important;
    }
    span {
      font-size: 30px !important;
    }
  }
}
