// VARAIBLES -------------
$main-font: "menlo";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $main-font;
}
// NAVIGATION --------------------
.section_navigation {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #3d4b62;
  font-size: 20px;
  .navigation_wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
    .logo_container {
      .logo {
        width: 50px;
        height: 100%;
      }
    }
    .nav {
      // padding: 10px 15px 0px 0px;
      height: 100%;
      margin-right: 20px;
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;
        height: 100%;
        li {
          margin-left: 40px;
          list-style-type: none;
          align-items: center;
          &:last-child {
            border: 1px solid white;
            padding: 10px;
          }
          a {
            text-decoration: none;
            color: white;
            align-items: center;
            &:last-child {
            }
          }
        }
      }
    }
  }
}
// SECTION ONE -------------------
.section_one_wrapper {
  color: white;
  display: flex;

  .section_one_content {
    // border: 2px solid green;
    padding: 175px 0px;
    width: 90%;
    height: 585px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-around;
    .text_animation_box {
      position: relative;
      top: -10px;
      // border: 1px solid red;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        font-size: 50px;
      }
    }
    h3 {
      span {
        font-size: 20px;
        font-weight: 40;
      }
    }
    h1 {
      font-size: 48px;
      font-weight: 400;
    }
    h2 {
      font-size: 45px;
      font-weight: 100;
    }
    span {
      color: #00ffc2;
    }
  }
  // SCROLL ELEMENTS ----------------
  .scroll_box {
    position: absolute;
    // border: 2px solid white;
    height: 600px;
    text-align: center;
    vertical-align: middle;
    .scroll_box_two {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // Animate this for arrow effect
      height: 65px;
      top: 42%;
      // border: 2px solid pink;
    }
    span {
      vertical-align: middle;
      margin-right: 0px;
      transform: rotate(-90deg);
    }
    .scroller {
      transform: rotate(-90deg);
    }
  }
}
.section_one {
  top: -100px;
  position: absolute;
  padding: 150px 0;
  width: 100%;
  height: 780px;
  background-color: #233554;
  transform: skewY(2deg);
  z-index: -2;
}
// SECTION TWO ---------------
.page_marker {
  position: relative;
  top: 20px;
  // border: 2px solid green;
  margin-left: 20px;
  .textNline {
    position: relative;

    margin-left: 30px;
    display: flex;
    // border: 2px solid blue;
    .line {
      margin-top: 22px;
      margin-right: 20px;
      border-radius: 20px;
      width: 220px;
      height: 0px;
      border: 2px solid black;
    }
    h4 {
      font-size: 40px;
    }
  }
  span {
    font-size: 70px;
  }
}
.section_two {
  width: 90%;
  height: 800px;
  margin: 50px auto;
  // border: 2px solid black;
  display: flex;
  justify-content: center;
  // PAGE MARKER CONTAINER $$$$$$$

  // PROFILE CONTAINER $$$$$$
  .profile_container {
    // border: 2px solid red;
    margin-right: 20px;
    // margin-top: 8%;
    img {
      width: 500px;
      height: 643px;
      margin-right: 100px;
    }
  }
  // TEXT CONTAINER $$$$$$$
  .text_two_container {
    font-size: 30px;
    font-weight: bold;
    width: 45%;
    // margin-right: 100px;
    // margin-top: 8%;
    // border: 2px solid red;
  }
}
